* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.intestazione {
    background-color: white;
    margin: 0;
}

.title {
    display: inline-block;
    background-color: white;
    vertical-align: revert;
    font-size: 50px;
}

.container {
   margin: 50px 300px 0;
   width: 500px;
   height: 800px; 
   background-color: white;
}

.botton {
    display: inline-block;
    margin-top: 10px;
}

.botton left {
    margin-left: 40px;
    background-color: blue;
}






